@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
html {
  font-size: 18px; }
  html body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px; }

.text-white {
  color: #fff; }

header {
  background-color: #FEDA3F; }
  header .row-right {
    position: absolute;
    width: 100%;
    bottom: 0; }
  header .logo-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block; }
  header .block-information {
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding-top: 0.20rem !important;
    padding-bottom: 0.20rem !important;
    display: none;
    font-size: .8rem; }
    header .block-information .fa-exclamation-circle {
      color: #FEDA3F; }
  header .block-formulario-online {
    width: 100%;
    bottom: 0px;
    background-color: #a4222b;
    padding-top: 0.20rem !important;
    padding-bottom: 0.20rem !important;
    color: #FEDA3F;
    display: none;
    text-decoration: none !important;
    font-size: .8rem; }
  header .fa-exclamation-circle {
    margin-left: 5px; }
  header .mobile .block-information {
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding-top: 0.10rem !important;
    padding-bottom: 0.10rem !important;
    display: block; }
    header .mobile .block-information .fa-exclamation-circle {
      color: #FEDA3F;
      font-size: 1rem; }
  header .mobile .block-formulario-online {
    width: 100%;
    bottom: 0px;
    background-color: #a4222b;
    padding-top: 0.10rem !important;
    padding-bottom: 0.10rem !important;
    color: #FEDA3F;
    display: block; }
  header .block-right-buttons {
    /*margin-bottom: -1px !important;*/ }
  header .derecho {
    display: none; }

.content {
  /*height: 100%;*/ }
  .content .fondo-left {
    background: url(../images/fondo-left.jpg) no-repeat;
    background-position: right;
    background-size: cover;
    display: none;
    height: 100% !important; }
  .content .green {
    background-color: #12636b;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    position: relative; }
  .content .form-title {
    font-size: 1.8rem;
    line-height: 1 !important; }
  .content .bajada {
    color: #FEDA3F;
    line-height: 1.2 !important;
    max-width: 500px; }
    .content .bajada .mobile {
      font-size: .8rem; }

footer {
  position: relative;
  /*padding-right: 0 !important;
  padding-left: 0 !important;*/
  background-color: #3f4042;
  min-height: 4rem; }
  footer img {
    /*height: 5rem;*/ }
  footer .linea {
    width: 100%;
    background: url(../images/linea.jpg) repeat-x;
    height: .23rem; }
  footer .text-middle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .6rem;
    top: 1.6rem;
    position: relative; }
  footer .left {
    margin-top: 1.3rem;
    margin-bottom: 1rem; }
  footer .right {
    margin-top: 1.6rem;
    margin-bottom: 1rem; }
  footer p {
    padding-bottom: 1rem; }

.nopadding {
  padding-left: 0;
  padding-right: 0; }

.msje-gracias {
  display: none; }

form.margin {
  padding-bottom: 145px; }
form .form-group {
  margin-bottom: .3rem; }
  form .form-group .form-control {
    padding: 0.4rem 0.75rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem !important;
    border: 0 !important; }
form .select2 {
  width: 100% !important; }
form .btn-enviar, form .btn-enviar:active {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*background: url(../images/enviar.png) no-repeat;
  background-size: cover;*/
  padding: .2rem !important;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  background-color: #F19700;
  border-right: 6px #E96B00 solid;
  margin-top: 10px; }
  form .btn-enviar:hover {
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
form .ver-politicas {
  color: #fff;
  margin-top: 5px;
  position: relative;
  display: block;
  font-size: .8rem;
  text-decoration: underline;
  text-align: center; }

.select2-selection--single {
  padding: 0.2rem !important; }

.select2-selection__arrow {
  top: 6px !important; }

.select2-results__options {
  line-height: 1 !important; }

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5b5b5f !important; }
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #5b5b5f !important; }
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #5b5b5f !important; }
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #5b5b5f !important; }

*:focus {
  outline: 0; }

.error:focus {
  background-color: #fbaba5;
  border-color: #fbaba5;
  border-radius: 0.25rem;
  color: #fff !important; }

.error::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  background-color: #fbaba5 !important;
  color: #fff !important; }
  .error::-webkit-input-placeholder .select2-selection__placeholder {
    color: #fff !important; }

.error::-moz-placeholder {
  /* Firefox 19+ */
  background-color: #fbaba5 !important;
  color: #fff !important; }
  .error::-moz-placeholder .select2-selection__placeholder {
    color: #fff !important; }

.error:-ms-input-placeholder {
  /* IE 10+ */
  background-color: #fbaba5 !important;
  color: #fff !important; }
  .error:-ms-input-placeholder .select2-selection__placeholder {
    color: #fff !important; }

.error:-moz-placeholder {
  /* Firefox 18- */
  background-color: #fbaba5 !important;
  color: #fff !important; }
  .error:-moz-placeholder .select2-selection__placeholder {
    color: #fff !important; }

.error {
  background-color: #fbaba5 !important;
  color: #fff !important; }
  .error .select2-selection__placeholder {
    color: #fff !important; }

.group-areas, .group-carreras, .group-consulta, .group-tipo-ingreso {
  display: none; }

@media (min-width: 576px) {
  header .logo-header {
    width: 50%; }

  /*html {
      font-size: 17px;
  }
  .logo-header {
      height: 4rem !important;
      width: initial !important;
      margin-right: initial !important;
      margin-left: initial !important;
      padding-left: 2rem;
  }
  .block-formulario-online {       
      display: block !important;
      font-size: initial !important;
  }
  .block-information {        
      display: block !important;
      font-size: initial !important;
  }        
  
  .mobile {
      display:none;
  }    
  
  .content {
      .fondo-left {
          display: block;
      }
  }
  form {
      .form-group {  
          max-width: 350px;
      }
      .btn-enviar {
          margin-left: 0px !important;
          margin-right: initial !important;            
      }
  } 
  */ }
@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .logo-header {
    height: 4.9rem !important;
    width: initial !important;
    margin-right: initial;
    margin-left: initial;
    padding-left: 2rem; }

  .block-formulario-online {
    display: block !important; }

  .block-information {
    display: block !important; }

  footer .left {
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  footer .right {
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem; }

  .logo-header {
    height: 4rem !important;
    width: initial !important;
    margin-right: initial !important;
    margin-left: initial !important;
    padding-left: 2rem; }

  .block-formulario-online {
    display: block !important;
    font-size: initial !important; }

  .block-information {
    display: block !important;
    font-size: initial !important; }

  .mobile {
    display: none; }

  .content .fondo-left {
    display: block; }

  form .form-group {
    max-width: 350px; }
  form .btn-enviar, form .btn-enviar:active {
    margin-left: 0px !important;
    margin-right: initial !important; }

  header .derecho {
    display: block; }

  .ver-politicas {
    margin-left: 2px;
    font-size: .8rem;
    text-align: initial !important;
    display: inline !important; } }
@media (min-width: 992px) {
  html {
    font-size: 19px; }

  .content .form-title {
    font-size: 2rem; } }
@media (min-width: 1200px) {
  html {
    /*font-size: 20px;*/ }

  .content .form-title {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
