@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
html {
  font-size: 18px; }
  html body {
    font-family: 'Open Sans Condensed', sans-serif; }

header {
  background-color: #FEDA3F; }
  header .row-right {
    position: absolute;
    bottom: 0;
    width: 100%; }
  header .logo-header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    height: initial;
    width: 60%;
    margin-right: auto;
    margin-left: auto; }
  header .block-information {
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding-top: 0.20rem !important;
    padding-bottom: 0.20rem !important;
    display: none;
    font-size: .8rem; }
    header .block-information .fa-exclamation-circle {
      color: #FEDA3F; }
  header .block-formulario-online {
    width: 100%;
    bottom: 0px;
    background-color: #a4222b;
    padding-top: 0.20rem !important;
    padding-bottom: 0.20rem !important;
    color: #FEDA3F;
    display: none;
    text-decoration: none !important;
    font-size: .8rem; }
  header .fa-exclamation-circle {
    margin-left: 5px; }
  header .mobile .block-information {
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding-top: 0.10rem !important;
    padding-bottom: 0.10rem !important;
    display: block; }
    header .mobile .block-information .fa-exclamation-circle {
      color: #FEDA3F;
      font-size: 1rem; }
  header .mobile .block-formulario-online {
    width: 100%;
    bottom: 0px;
    background-color: #a4222b;
    padding-top: 0.10rem !important;
    padding-bottom: 0.10rem !important;
    color: #FEDA3F;
    display: block; }
  header .block-right-buttons {
    /*margin-bottom: -1px !important;*/ }

.content .fondo-left {
  /*height: 100vh;*/
  background: url(../images/fondo-left.jpg) no-repeat;
  background-position: right;
  background-size: cover;
  display: none; }
.content .green {
  background-color: #12636b; }
.content .form-title {
  font-size: 1.8rem;
  line-height: 1 !important; }
.content .bajada {
  color: #FEDA3F;
  line-height: 1.2 !important;
  max-width: 500px; }
  .content .bajada .mobile {
    font-size: .8rem; }

footer {
  background-color: #3f4042;
  min-height: 4rem; }
  footer img {
    height: 5rem; }
  footer .linea {
    width: 100%;
    background: url(../images/linea.jpg) repeat-x;
    height: .23rem; }
  footer .text-middle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .6rem;
    top: 1.7rem;
    position: relative; }
    footer .text-middle p {
      min-height: 2.5rem; }

.msje-gracias {
  min-width: 300px;
  min-height: 300px;
  display: none; }

form .form-group {
  margin-bottom: .3rem; }
  form .form-group .form-control {
    padding: 0.4rem 0.75rem;
    font-family: 'Open Sans Condensed', sans-serif; }
form .select2 {
  width: 100% !important; }
form .btn-enviar, form .btn-enviar:active {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: url(../images/enviar.png) no-repeat;
  background-size: cover;
  padding: .8rem !important;
  color: #a4222b;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem; }
  form .btn-enviar:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.select2-results__options {
  line-height: 1 !important; }

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5b5b5f !important; }
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #5b5b5f !important; }
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #5b5b5f !important; }
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #5b5b5f !important; }

*:focus {
  outline: 0; }

.error:focus {
  background-color: #f44336;
  border-color: #f44336;
  border-radius: 0.25rem;
  color: #fff !important; }

.error::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  background-color: #f44336 !important;
  color: #fff !important; }

.error::-moz-placeholder {
  /* Firefox 19+ */
  background-color: #f44336 !important;
  color: #fff !important; }

.error:-ms-input-placeholder {
  /* IE 10+ */
  background-color: #f44336 !important;
  color: #fff !important; }

.error:-moz-placeholder {
  /* Firefox 18- */
  background-color: #f44336 !important;
  color: #fff !important; }

.error {
  background-color: #f44336 !important;
  color: #fff !important; }

@media (min-width: 576px) {
  html {
    font-size: 17px; }

  .logo-header {
    height: 4rem !important;
    width: initial !important;
    margin-right: initial;
    margin-left: initial;
    padding-left: 2rem; }

  .block-formulario-online {
    display: block !important;
    font-size: initial !important; }

  .block-information {
    display: block !important;
    font-size: initial !important; }

  .mobile {
    display: none; }

  .content .fondo-left {
    display: block; }

  form .form-group {
    max-width: 350px; }
  form .btn-enviar, form .btn-enviar:active {
    margin-left: initial !important;
    margin-right: initial !important; } }
@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .logo-header {
    height: 4.9rem !important;
    width: initial !important;
    margin-right: initial;
    margin-left: initial;
    padding-left: 2rem; }

  .block-formulario-online {
    display: block !important; }

  .block-information {
    display: block !important; } }
@media (min-width: 992px) {
  html {
    font-size: 19px; }

  .content .form-title {
    font-size: 2.4rem; } }
@media (min-width: 1200px) {
  html {
    /*font-size: 20px;*/ }

  .content .form-title {
    font-size: 2.9rem; } }

/*# sourceMappingURL=style.css.map */
